<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold m-6">Faça Seu Login</h1>
      <p class="py-6">
        Com seu login você, vendedor, poderá anunciar seus produtos no campus
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form class="card-body" [formGroup]="form" (submit)="onSubimt()" >
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" placeholder="email-exemplo@gmail.com" class="input input-bordered" formControlName="email" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Senha</span>
          </label>
          <input type="password" placeholder="........" class="input input-bordered" formControlName="password" required />
          <label class="label">
            <div class="col-auto flex justify-between w-full">
              <a [routerLink]="['/reset-password']" class="label-text-alt link">Esqueci minha senha</a>
              <a [routerLink]="['/cadastro']" class="label-text-alt link">Não tenho conta</a>
            </div>
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary" [disabled]="form.invalid" >Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
