<div class="h-full overflow-scroll">

  <app-header></app-header>

  <div class="px-8 py-3" *ngIf="!isLoading">

    <h2 class="text-xl font-bold">ALIMENTAÇÃO</h2>
    <div class="divider"></div>

    <div class="grid grid-cols-2 gap-4">

      @if (cards.length > 0) {
            <!-- Componente de Card -->
        @for (card of cards; track $index) {
          <app-card [pensamento]="card"></app-card>
        }
      }

    </div>

  </div>

  <div class="flex justify-center items-center px-8 py-3 h-full" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>

  <app-footer class="w-full mt-8"></app-footer>

</div>
