<div class="navbar bg-base-300">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" [routerLink]="['/home']">Kero</a>
  </div>
  <div class="flex-none gap-2">
    <div class="form-control">
      <input
        type="text"
        placeholder="Buscar"
        class="input input-bordered md:w-auto"
        [(ngModel)]="termoBusca"
        (input)="buscarProdutos()"
        (focus)="abrirPesquisa()"
      />
    </div>

    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <div class="flex-row">
            <a> Perfil </a>
            <a [routerLink]="['/login']" class="badge"> Faça login </a>
          </div>
        </li>

        @if (isLoggedIn) {
          <li><a>Cadastrar produto</a></li>
          <li><a>Seus produtos</a></li>
        }

        <li><a (click)="logout()" [routerLink]="['/landing']" >Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<div
  *ngIf="emPesquisa"
  class="fixed inset-0 bg-base-100 z-50 flex flex-col items-center p-4 transition-opacity duration-300 overflow-auto"
>
  <!-- Campo de Busca e Botão Fechar -->
  <div class="w-full max-w-3xl flex items-center mb-4">
    <div class="form-control w-full">
      <input
        type="text"
        placeholder="Buscar"
        class="input input-bordered w-full bg-gray-700 text-white"
        [(ngModel)]="termoBusca"
        (input)="buscarProdutos()"
      />
    </div>
    <button class="btn btn-primary h-full ml-4 px-6" (click)="fecharPesquisa()">X</button>
  </div>

  <div class="w-full max-w-3xl">
    <!-- Resultados da Pesquisa -->
    <h2 *ngIf="produtosFiltrados.length > 0" class="text-xl font-bold mt-6">
      Porque você ker "{{ termoBusca }}"
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-4">
      <app-card
        *ngFor="let produto of produtosFiltrados"
        [pensamento]="produto"
        mode="home"
      ></app-card>
    </div>

    <!-- Recomendações -->
    <h2 *ngIf="produtosRecomendados.length > 0" class="text-xl font-bold mt-6">
      Outras recomendações caso você queira
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-4">
      <app-card
        *ngFor="let produto of produtosRecomendados"
        [pensamento]="produto"
        mode="home"
      ></app-card>
    </div>
  </div>
</div>
