<div class="h-screen overflow-auto">
<app-header></app-header>

<div class="bg-base-100 container mx-auto p-4 text-center">
  <main class="my-8">
    <h2 class="text-2xl font-bold mb-4">Política de Privacidade do Kero</h2>
    <p class="text-lg">
      No <strong>Kero</strong>, sua privacidade e segurança são nossa prioridade. Esta Política de Privacidade descreve como coletamos, usamos, armazenamos e protegemos suas informações pessoais enquanto você usa nossa plataforma para anunciar seus produtos.
    </p>

    <h3 class="text-lg font-semibold mt-6 mb-2">Informações que Coletamos</h3>
    <p class="text-lg">
      Coletamos apenas as informações essenciais para que você possa usar a plataforma de maneira eficiente. Essas informações incluem seus dados pessoais, como nome, e-mail e senha, necessários para criar e manter sua conta, além de detalhes dos produtos que você anuncia, como título, descrição, fotos e preços.
    </p>

    <h3 class="text-lg font-semibold mt-6 mb-2">Como Usamos Seus Dados</h3>
    <p class="text-lg">
      Utilizamos suas informações para criar e gerenciar sua conta no Kero e para exibir seus anúncios de produtos para outros usuários da plataforma.
    </p>

    <h3 class="text-lg font-semibold mt-6 mb-2">Compartilhamento de Informações</h3>
    <p class="text-lg">
      Seu nome será visível para outros usuários da plataforma, enquanto seu e-mail e senha não serão compartilhados. As informações dos seus anúncios, incluindo título, descrição, fotos e preços, também estarão visíveis. Não vendemos ou compartilhamos suas informações pessoais com terceiros para fins comerciais. Seus dados são usados exclusivamente para os fins descritos nesta Política de Privacidade.
    </p>

    <h3 class="text-lg font-semibold mt-6 mb-2">Seus Direitos sobre Seus Dados</h3>
    <p class="text-lg">
      Você tem o direito de alterar ou excluir seus anúncios a qualquer momento, redefinir sua senha caso a esqueça e solicitar a exclusão de sua conta, o que resultará na remoção de seus dados pessoais e anúncios da plataforma.
    </p>

    <h3 class="text-lg font-semibold mt-6 mb-2">Alterações nesta Política</h3>
    <p class="text-lg">
      Podemos atualizar esta Política de Privacidade periodicamente. Quaisquer alterações serão publicadas nesta página, com a data de atualização informada no final da política.
    </p>

    <h3 class="text-lg font-semibold mt-6 mb-2">Data de Vigência</h3>
    <p class="text-lg">
      Esta Política de Privacidade entra em vigor em <strong>2024</strong>.
    </p>
  </main>
</div>

<app-footer></app-footer>
</div>
