<div class="h-screen overflow-auto bg-base-100">
  <app-header></app-header>

  <div class="px-8 py-3">
    <h2 class="text-xl font-bold">Seus Produtos</h2>
    <div class="divider"></div>

    <!-- Exibe os produtos após carregamento -->
    <div *ngIf="!isLoading" class="grid grid-cols-2 gap-4">
      <app-card *ngFor="let card of cards; trackBy: trackById" [pensamento]="{
            id: card.id,
            titulo: card.nome,
            descricao: card.descricao,
            imagemUrl: card.fotos[0].url
          }" mode="produtos"></app-card>
    </div>

    <!-- Spinner de carregamento -->
    <div *ngIf="isLoading" class="flex justify-center items-center h-64">
      <ion-spinner></ion-spinner>
    </div>
  </div>

  <!-- Botão para adicionar novo produto -->
  <button class="btn btn-primary btn-circle fixed bottom-8 right-8" [routerLink]="'/add-product'">
    +
  </button>

  <app-footer class="w-full mt-8"></app-footer>
</div>
